*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
#one{
    background-color: rgba(50, 96, 136, 0.39);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
    border: 2px solid black;
    height: 400px;
    width: 500px;
}
#input_1{
 
    height: 40px;
    width: 200px;
    padding: 10px;
}
#additems{
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: large;
    font-weight: 800;
    height: 40px;
    width: 150px;
    margin-left: 10px;
}
#clear{
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: large;
    font-weight: 800;
    height: 40px;
    width: 100px;
    margin-left: 10px;
}
#delete{
    background-color: brown;
    color: white;
    font-size: large;
    font-weight: 800;
    height: 40px;
    width: 100px;
    margin-left: 10px;
}
#edit{
    background-color: chocolate;
    color: white;
    font-size: large;
    font-weight: 800;
    height: 40px;
    width: 100px;
    margin-left: 10px;
}


